* {
    margin: 0;
    padding: 0;

}

.header {
    background-image: url('./images/banner/banner1.png');
    height: 800px;
    max-width: 1600px;
    background-repeat: no-repeat;
}

.title {
    color:  #151414;
    text-align: right;
    font-family: 'Work Sans', sans-serif;
    font-size: 65px;
    font-weight: 700;
    padding: 215px 230px 360px 840px;
    display: block;
}